/*PAGE DEFAULTS*/
* {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}


/*GLOBAL STYLING*/
body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 200;
}

h1 {
	font-weight: normal;
	font-size: 32px;
	margin: 0px;
}


h2 {
	font-weight: normal;
	font-size: 30px;
	margin: 0px;
}


/*---For Nav Bar---*/

#left-nav {
    list-style-type: none;
    top: 0px;
    left: 0px;
    overflow: hidden;
    position: fixed;
    width: 50%;
    display: flex;
    justify-content: center;
    float: left;
}

#left-nav li a:hover {
    text-decoration: none;
    color: white;
}

#right-nav {
    list-style-type: none;
    top: 0px;
    right: 0px;
    overflow: hidden;
    position: fixed;
    width: 50%;
    display: flex;
    justify-content: center;
    color: white;
}

#right-nav li a:hover {
    text-decoration: none;
    color: white;
}

li {
	float: left;
    padding-left: 20px;
}

#homepage-link {

}

li a {
    display: block;
    padding: 8px 24px;

    font-size: 24px;

    color: white;
    text-align: center;
    text-decoration: none;
    }

li a:hover {
    font-weight: 400;
}

.nav-colored {
    color: #5B5B5B;
}

.nav-transparent {
    color: white;
}

.nav-highlight {
    font-weight: 400
}

/*---Nav bar finish---*/



/*CLASS SPECIFIC*/
.nav {
    margin-top: 0px;
    padding: 0px;
}

.content {
    text-align: center;
}

.current-page a {
    color: #EBEBEB;
}

/*HOME PAGE*/
.home {

}

.home section {
    width: 100vw;
	height: 100vh;
	margin-top: 0;
	margin-bottom: 10px;
}


/*---Photo creds---*/
.photocred {
    text-align: right;
    position: absolute;
    right: 4em;
    bottom: 2em;
    padding-bottom: 0;

}

.photocred p {
    color: white;
}


/*--Slideshow---*/
.split-screen {
    width: 100vw;
    height: 100vh;
    z-index: 0;
    padding-top: 5vh;

    display: flex;
    justify-content: flex-start;
}
.split-left {
    width: 30vw;
    height: 100vh;
    position: relative;
    left: 0;
    z-index: 0;
    overflow-x: hidden;
    text-align: center;
}

.split-right {
    width: 70vw;
    height: 95vh;
    position: relative;
    right: 0;
    padding-top: 5vh;
    z-index: 0;
    overflow-x: hidden;
    text-align: center;
    float: right;
}

.slides {
    display: none;
}

.back, .forward {
    position: absolute;
    top: 50%;
    width: auto;
    font-size: 20px;
    color: black;
    transition: 0.6s ease;
    padding: 16px;
}

.forward {
    right: 0;
}

.back {
    left: 0;
}

.back:hover, .forward:hover {
    background-color: rgba(0,0,0,0.3);
}


.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/*--Slideshow End---*/

.learn-more {
    position: relative;
    padding-top: 50px;
}

/*ABOUT PAGE*/
.about{

}

.about h2{
    color: yellowgreen;
}

.about p {
    width: 50vw;
}

.about section {
    margin-top: 50px;
}


/*PASSION PAGE*/
.passion{

}

.view-frame {
    width: 100vw;
    height: 100vh;
}


/*RESUME PAGE*/
.iframe-container{
    width: 100vw;
    height: 100vh;
}

.iframe-container iframe {
    width: 100vw;
    height: 100vh;

}


/*ID SPECIFIC*/

#welcome {
    color: white;
	font-size: 81px;
    font-weight: 100;

    position: relative;
    top: 40vh;
    left: auto;

    z-index: 2;
    
}

#personal-info {
    color: whitesmoke;
    font-size: 49px;
    font-weight: 300;
    line-height: 1.0;

    position: relative;
    top: 60vh;
    left: auto;

    z-index: 0;

}

#main-nav{
	position: fixed;
    z-index: 999;
}

#intro-container {
	background-image: url(../images/main-landscape-edit.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#overview-me-container {
    background-image: url(../images/turquoise-mountains.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    width: 100vw;
    height: 100vh;
    margin-bottom: 0px;
}

.overview-text {
    text-decoration-color: #5B5B5B;
    font-weight: 100;
    font-size: 3em;
    text-align: center;
}

#little-more {
    padding-top: 10vh;
    padding-bottom: 5vh;
}

#card-container {
    padding-top: 10px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
}

.card {
    float: left;
    background-color: rgba(249,249,249,0.8);
}

.card-title {
    text-align: center;
}

.card-text{
    text-align: center;
}

#project-container {
    background-color: #f5f5f5;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

#down-arrow {
    position: relative;
    top: 75vh;
}



#projects-title{
    padding-top: 10vh;
}

#project-description{
    padding-left: 12px;
    padding-bottom: 50px;
}


#project-section{
    background-image: url(../images/technology-backdrop-edit.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.jumbotron {
    margin: auto;
    width: 50%;
}

#project-intro {
    background-color: transparent;
    text-align: center;
}

#project-intro h1 {
    color: white;
    font-weight: 100;
}

#project-intro p {
    color: white;
    font-weight: 100;
}

#slide0{
}


/*---Passions section---*/
#passions-wrapper {
    width: 100vw;
    height: 100vh;
    background-image: url(../images/Passion-photo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

#passion-text{
    padding-top: 35vh;
    color: white;
}

#passion-work-in-progress {
    padding-top: 5vh;
    color: white;
}

#passion-later-updates {
    padding-top: 5vh;
    color: white;
}


/*---Contacts section---*/
#get-in-touch {
    padding-top: 15vh;
    color: white;
}

#best-contact-way {
    padding-top: 5vh;
    color: white;
}

#contacts-wrapper {
    background-image: url(../images/Contacts-background.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

#section5 {

}


#contact-card-container{
    padding-top: 10vh;
    display: flex;
    justify-content: space-around;
}

#github-icon {
}

#resume-button{
    padding-top: 10vh;
    display: flex;
    justify-content: center;
}



/*---Projects Page---*/
#welcome-banner {
    height: 100vh;
    width: 100vw;
    background-image: url(../images/technology-backdrop-edit.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

#title {
    color: white;
    font-size: 81px;
    font-weight: 100;
    position: relative;
    width: 100vw;
    text-align: center;
    top: 30vh;
    visibility: hidden; /*to enable smooth JS animation*/
}


/*---Contact Page----*/
#contact-title {
    color: black;
    font-size: 81px;
    font-weight: 100;
    position: relative;
    width: 100vw;
    text-align: center;
}

.split-left-50 {
    width: 50vw;
    height: 100vh;
    position: relative;
    left: 0;
    overflow-x: hidden;
    text-align: center;
}

.split-right-50 {
    width: 50vw;
    height: 100vh;
    position: relative;
    right: 0;
    overflow-x: hidden;
    text-align: center;
    float: right;
}

/*Other stuff*/
::-webkit-scrollbar {
    display: none;
}




/*Welcome animation test*/
.ml12 {
    font-size: 1.7em;
    letter-spacing: 0.05em;
}

.ml12 .letter {
    display: inline-block;
    line-height: 1em;
}